<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p><strong><%= t(".created_at") %>:</strong> <%= l(@user.created_at, format: :long) %></p>
      <p><strong><%= t(".updated_at") %>:</strong> <%= l(@user.updated_at, format: :long) %></p>
    </section>
  </aside>
</div>
