<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".placeholder") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.allowed_image_types.join(","), data: {max_file_size_mb: Micropost::MAX_IMAGE_SIZE / Micropost::MEGABYTE_IN_BYTES} %>
  </span>
  <%= f.submit t(".submit"), class: "btn btn-primary" %>
<% end %>
